{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<div class="form-page">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Create Badge</h2>
    <div>{{ badge_form.as_p }}</div>

    <h2>Requirements</h2>

    <div id="requirements-container">
      {{ requirements_formset.management_form }} 
      {% for form in requirements_formset %}
      <div class="requirement-form">{{ form.as_p }}</div>

      {% endfor %}

      <!-- Hidden empty form template -->
      <div id="empty-form" style="display: none">
        <div class="requirement-form">
          {{ requirements_formset.empty_form.as_p}}
        </div>
      </div>
    </div>

    <div>
      <button type="button" id="add-requirement" class="btn-signup">
        Add requirement
      </button>
      <button type="submit" class="btn-signup">Save Changes</button>
    </div>
  </form>
</div>

<script src="{% static 'js/requirements.js' %}"></script>
{% endblock %}

