{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container" style="max-width: 900px; margin: auto; padding: 20px;">

    <h2>Leader Dashboard</h2>
    <p>Welcome, {{ user.first_name }}! Manage scouts, badges, and approvals.</p>

    <hr>

    <!-- BADGE REQUESTS -->
    <h3>Pending Badge Requests</h3>
    {% for request in requests %}
    <p>
        {{ request.scout.username }} requested {{ request.badge.name }}
    </p>

    <a class="btn-signup btn" href="{% url 'approve_badge_request' request.id %}">Approve</a>
    <a class ="btn-signup btn" href="{% url 'reject_badge_request' request.id %}">Reject</a>
    
    {% empty %}
    <p>No pending badge requests.</p>
    {% endfor %}

    <hr>

    <!-- SCOUT LIST -->
    <h3>Scouts</h3>
    <p>No scouts found.</p>

    <hr>
    <!-- Managing Badges -->
    <h3>Manage Badges</h3>
    <div class="badge-list">
    {% for badge in badges %}
        <div class="badge-card">
            <img src="{{ badge.image.url }}" alt="{{ badge.name }}" width="100">
            <p>{{ badge.name }}</p>
            <a href="{% url 'edit_badge' badge.id %}" class="btn btn-signup">Edit Badge</a>
        </div>
    {% empty %}
        <p>No badges found.</p>
    {% endfor %}
    </div>
    <a href="{% url 'add_badge' %}" class="btn btn-signup">Add Badge</a>
    <button type="button" class="btn-signup">Delete Badge</button>
    </div>

</div>

{% endblock %}
<script src="{% static 'js/formsets.js' %}"></script>