{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container dashboard">

    <h2>Welcome, {{ user.first_name }}!</h2>
    <p>Your Scout Dashboard</p>

    <hr>

    <!-- FEATURED BADGES -->
    <h3>Featured Badges</h3>
    {% if featured_badges %}
        <div class="row">
            {% for scout_badge in featured_badges %}
            <div class="col-md-4 text-center">
                <img src="{{ scout_badge.badge.image.url }}" alt="{{ badge.name }}" class="img-fluid mb-2" width="100">
            </div>
            {% empty %}
            <p>No featured badges selected.</p>
            {% endfor %}
        </div>
    {% else %}
        <p>No featured badges yet.</p>
    {% endif %}

    <hr>

    <!-- OWNED BADGES -->
    <h3>Your Earned Badges</h3>
    {% if earned_badges %}
    <div class="text-center">
        <div class="row g-4">
            {% for earned in earned_badges %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title">{{ earned.badge.name }}</h4>
                        <img src="{{ earned.badge.image.url }}" alt="{{ badge.name }}" width="100">
                        <form method="post" action="{% url 'featured_badge' earned.id %}">
                            {% csrf_token %}
                            <button class="btn btn-signup">
                                {% if earned.featured %}
                                Unfeature
                                {% else %}
                                Feature
                                {% endif %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>You have not earned any badges yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}